* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Google_Sans Regular";
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #86f165;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background: #8c9630;
}

.logo{
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
  font-family: brush script MT ;
}

.hamburger{
  background-color: transparent;
  border: none;
  display: none;
}

.nav-bar ul{
  display: flex;
}

.nav-bar ul li a{
  display: block;
  color: aliceblue;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  min-height: 44px;
  min-width: 44px;
}

.nav-bar ul li a:hover{
  color: #8c9630;
  background: aliceblue;
}

.nav-bar ul li a.active{
  color: #848f25;
  background: aliceblue;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 450px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_4.jpg" );
  background-position: center;
  background-size: 100% 100%;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/*
* main
*/

main {
width: 100%;

margin: 0 auto;
}

/*
* content
*/

.content {
padding: 32px;
}

/*
* headline
*/

.headline__figure {
width: 100%;
}

.headline__figure img {
width: 100%;
}

.headline__figure figcaption {
text-align: center;
color: #666666;
font-size: 13px;
font-weight: 400;
margin-top: 8px;
}

.headline__content {
width: 100%;
padding: 16px 0;
}

.headline__title {
font-size: 24px;
font-weight: 500;
}

.headline__description {
font-size: 12px;
margin-top: 12px;
}

.headline__button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
margin-top: 24px;
cursor: pointer;
padding: 8px 16px;
color: white;
border: none;
border-radius: 5px;
background-color: #2c3e50;
transition: opacity 0.3s;
}

.headline__button:hover {
opacity: 0.8;
}

/*
* latest
*/

.latest {
width: 100%;
margin: 5px auto;
text-align: center;
}

.latest__label {
font-size: 32px;
font-weight: lighter;
}

.latest__label::after {
content: '';
margin-top: 16px;
display: block;
border-bottom: 1px solid #eeeeee;
}

/*
* post
*/

.posts {
margin: 32px auto auto;
text-align: left;
}

/*
* post item
*/

.post-item {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 100%;
border-radius: 5px;
overflow: hidden;
}

.post-item__content {
padding: 16px;
}

.post-item__thumbnail {
width: 100%;
height: 200px;
}

.post-item__date {
padding: 0 0 10px;
font-size: 13px;
text-transform: uppercase;
color: #f50808;
}

.post-item__date__author {
text-decoration: none;
color: orange;
}

.post-item__title {
font-weight: 500;
font-size: 16px;
margin-top: 16px;
transition: 0.3s opacity;
}

.post-item__title:hover {
opacity: 0.5;
}

.post-item__title a {
text-decoration: none;
color: inherit;
font-size: 25px;
padding: 0.7em 0;
}

.post-item__description {
margin-top: 16px;
font-size: 12px;
line-height: 1.5em;
}

 
/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
* footer
*/

footer {
background-color: #7a9e52;
padding: 2em;
width: 100%;
text-align: center; 
color: #ffffff;
}

